topicprefix = /topic/
main_collective = mcollective
collectives = mcollective
libdir = vendor/mcollective/plugins:vendor/mcollective/origin/msg-common:vendor/mcollective/freequant/msg-common
logfile = log/mcollective-client.log
loglevel = debug
direct_addressing = 1

# Plugins
securityprovider = psk
plugin.psk = unset

connector = activemq
plugin.activemq.pool.size = 1
plugin.activemq.pool.1.host = activemq.freequant.net
plugin.activemq.pool.1.port = 61613
plugin.activemq.pool.1.user = mcollective
plugin.activemq.pool.1.password = marionette
~